<%- include('partials/header') %>
<div class="container">
  <div class="col-5 m-auto">
    <form action="/login" method="post">
      <h1 class="text-center mt-5">Login</h1>
      <%- include("partials/messages") -%>
      <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email address">
      <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password">
      <br>
      <a class="text-right" href="">Forgot Passsword?</a>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      <h5 class="text-center m-3">OR</h5>
      <a href="/signup" class="btn btn-lg btn-primary btn-block active" role="button" aria-pressed="true">Sign up</a>
    </form>
  </div>
</div>
    

<%- include('partials/footer') %>